/* hey i fucked up and delete this page by accident lmao. here's to hoping this works. */
body {
                font-family: 'Solway Regular', serif;
                margin: 0;
                background-color: #FFF8DD;
                /* you can delete the line below if you'd prefer to not use an image */
                background-size: 65px;
                color: #281A18;
                background-image: var(--body-bg-image);
            }

@font-face {
    font-family: "Solway Regular"; 
    src: url("https://welcometowelcomehome.neocities.org/fonts/Solway-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Solway Bold"; 
    src: url("https://welcometowelcomehome.neocities.org/fonts/Solway-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Solway Light"; 
    src: url("https://welcometowelcomehome.neocities.org/fonts/Solway-Light.otf") format("opentype");
}